* {
    margin: 0;
    padding: 0;
}

body {
    background-color: pink;
}

.btn {
    box-shadow: 2px 2px 6px rgb(62, 56, 56);
    margin-top: 29px;
    margin-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    font-weight: 400;
    background-color: rgb(192, 78, 97);
    color: white;
    text-shadow: 2px 3px 6px black;
    font-size: 20px;
    border-radius: 18px;
    text-align: center;
    transition: all 0.3s ease-out;
}


#yesBtn {
    position: absolute;

    left: 32%;
}

#noBtn {
    position: absolute;

    left: 54%;
}

#yesBtn:hover {
    background-color: rgb(171, 32, 55);
    border: 1px solid rgb(39, 36, 36);
}

.container {
    position: relative;

}

h1 {
    margin-top: 60px;

    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow: 2px 1px 8px black;
}

img {
    display: flex;
    margin-left: 280px;
    margin-top: 40px;
}

@media only screen and (max-width: 900px) {
    .container {
        position: relative;
        width: 390px;
        height: 844px;
    }

    #yesBtn {
        position: absolute;
        left: 40%;
    }

    h1 {
        margin-top: 60px;

        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 40px;
        color: white;
        text-shadow: 2px 1px 8px black;
    }

    img {
        width: 200px;
        height: auto;
        right: 110px;
        top: 80px;
        position: absolute;
    }

    #noBtn {
        position: absolute;
        top: 35%;
        left: 59%;
    }

    #yesBtn {
        position: absolute;
        top: 35%;
        left: 10%;
    }
}